# Assignment 7

*(Due Saturday, November 2, 2019 at noon.)*

In [2]:
import numpy as np
import pandas as pd

1) Load either your dataset, `brfss`, or `nhis` and create at least three derived fields from the data there. Ideally, these will be fields you'll need for your final project.

In [14]:
#load a csv.
MSC = pd.read_csv('../dataset/MusselSpat_cleaned.csv')
MSC.head()

,Unnamed: 0,Individual,Site,Date_Collected,Date_Processed,Algal_#,Algae_wt_g,Eyespot,OMU_size,Magnification,Scope,Initials,Size,Julian_Day
0,0,DD_10Jun12_1,DD,10-Jun-12,29-Jun-14,2,NaN,1.0,28.0,4.0,H,NM,0.700,162
1,1,DD_10Jun12_2,DD,10-Jun-12,29-Jun-14,3,NaN,1.0,32.0,4.0,H,NM,0.800,162
2,2,DD_23Jun12_1,DD,23-Jun-12,1-Jul-14,1,NaN,1.0,33.0,4.0,H,NM,0.825,175
3,3,DD_23Jun12_10,DD,23-Jun-12,1-Jul-14,5,NaN,1.0,30.0,4.0,H,NM,0.750,175
4,4,DD_23Jun12_2,DD,23-Jun-12,1-Jul-14,1,NaN,1.0,30.0,4.0,H,NM,0.750,175

In [31]:
bins = [136, 228, 274, 365]
MSC['Summer_Summary'] = pd.cut(MSC.Julian_Day, bins, 
                         labels=['Early Summer', 'Mid-Summer', 
                                 'Late Summer'])
MSC

,Unnamed: 0,Individual,Site,Date_Collected,Date_Processed,Algal_#,Algae_wt_g,Eyespot,OMU_size,Magnification,Scope,Initials,Size,Julian_Day,Density,Summer_Summary
507,507,PW_28May12_1,PW,28-May-12,17-Jul-14,1,0.0375,1.0,21.0,4.0,H,NM,0.525,149,0.0375,Early Summer
508,508,PW_28May12_2,PW,28-May-12,17-Jul-14,1,0.0375,1.0,26.0,4.0,H,NM,0.650,149,0.0375,Early Summer
509,509,PW_28May12_3,PW,28-May-12,17-Jul-14,1,0.0375,1.0,20.0,4.0,H,NM,0.500,149,0.0375,Early Summer
510,510,PW_28May12_4,PW,28-May-12,17-Jul-14,1,0.0375,1.0,25.0,4.0,H,NM,0.625,149,0.0375,Early Summer
511,511,PW_28May12_5,PW,28-May-12,17-Jul-14,1,0.0375,1.0,20.0,4.0,H,NM,0.500,149,0.0375,Early Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8715,8715,SH_20Aug12_50,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,91.0,2.5,H,AB,4.550,233,0.0518,Mid-Summer
8716,8716,SH_20Aug12_193,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,95.0,2.5,H,AB,4.750,233,0.0518,Mid-Summer
8717,8717,SH_20Aug12_201,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,99.0,2.0,H,AB,4.950,233,0.0518,Mid-Summer
8718,8718,SH_20Aug12_116,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,100.0,2.0,H,AB,5.000,233,0.0518,Mid-Summer
8719,8719,SH_20Aug12_205,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,98.0,1.2,H,AB,7.840,233,0.0518,Mid-Summer

In [33]:
bins1 = [0, 0.75 , 1.5, 3, 10]
MSC['Size_Class'] = pd.cut(MSC.Size, bins1, 
                         labels=['Small', 'Medium', 
                                 'Large','Late Juvenile'])
MSC

,Unnamed: 0,Individual,Site,Date_Collected,Date_Processed,Algal_#,Algae_wt_g,Eyespot,OMU_size,Magnification,Scope,Initials,Size,Julian_Day,Density,Summer_Summary,Size_Class
507,507,PW_28May12_1,PW,28-May-12,17-Jul-14,1,0.0375,1.0,21.0,4.0,H,NM,0.525,149,0.0375,Early Summer,Small
508,508,PW_28May12_2,PW,28-May-12,17-Jul-14,1,0.0375,1.0,26.0,4.0,H,NM,0.650,149,0.0375,Early Summer,Small
509,509,PW_28May12_3,PW,28-May-12,17-Jul-14,1,0.0375,1.0,20.0,4.0,H,NM,0.500,149,0.0375,Early Summer,Small
510,510,PW_28May12_4,PW,28-May-12,17-Jul-14,1,0.0375,1.0,25.0,4.0,H,NM,0.625,149,0.0375,Early Summer,Small
511,511,PW_28May12_5,PW,28-May-12,17-Jul-14,1,0.0375,1.0,20.0,4.0,H,NM,0.500,149,0.0375,Early Summer,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8715,8715,SH_20Aug12_50,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,91.0,2.5,H,AB,4.550,233,0.0518,Mid-Summer,Late Juvenile
8716,8716,SH_20Aug12_193,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,95.0,2.5,H,AB,4.750,233,0.0518,Mid-Summer,Late Juvenile
8717,8717,SH_20Aug12_201,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,99.0,2.0,H,AB,4.950,233,0.0518,Mid-Summer,Late Juvenile
8718,8718,SH_20Aug12_116,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,100.0,2.0,H,AB,5.000,233,0.0518,Mid-Summer,Late Juvenile
8719,8719,SH_20Aug12_205,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,98.0,1.2,H,AB,7.840,233,0.0518,Mid-Summer,Late Juvenile

In [37]:
bins2 = [-1, 0.5, 1]
MSC['Eyespot_Class'] = pd.cut(MSC.Eyespot, bins2, 
                         labels=['Recently settled spat', 'Settled over 5 days ago'])
MSC

,Unnamed: 0,Individual,Site,Date_Collected,Date_Processed,Algal_#,Algae_wt_g,Eyespot,OMU_size,Magnification,Scope,Initials,Size,Julian_Day,Density,Summer_Summary,Size_Class,Eyespot_Class
507,507,PW_28May12_1,PW,28-May-12,17-Jul-14,1,0.0375,1.0,21.0,4.0,H,NM,0.525,149,0.0375,Early Summer,Small,Settled over 5 days ago
508,508,PW_28May12_2,PW,28-May-12,17-Jul-14,1,0.0375,1.0,26.0,4.0,H,NM,0.650,149,0.0375,Early Summer,Small,Settled over 5 days ago
509,509,PW_28May12_3,PW,28-May-12,17-Jul-14,1,0.0375,1.0,20.0,4.0,H,NM,0.500,149,0.0375,Early Summer,Small,Settled over 5 days ago
510,510,PW_28May12_4,PW,28-May-12,17-Jul-14,1,0.0375,1.0,25.0,4.0,H,NM,0.625,149,0.0375,Early Summer,Small,Settled over 5 days ago
511,511,PW_28May12_5,PW,28-May-12,17-Jul-14,1,0.0375,1.0,20.0,4.0,H,NM,0.500,149,0.0375,Early Summer,Small,Settled over 5 days ago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8715,8715,SH_20Aug12_50,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,91.0,2.5,H,AB,4.550,233,0.0518,Mid-Summer,Late Juvenile,Recently settled spat
8716,8716,SH_20Aug12_193,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,95.0,2.5,H,AB,4.750,233,0.0518,Mid-Summer,Late Juvenile,Recently settled spat
8717,8717,SH_20Aug12_201,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,99.0,2.0,H,AB,4.950,233,0.0518,Mid-Summer,Late Juvenile,Recently settled spat
8718,8718,SH_20Aug12_116,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,100.0,2.0,H,AB,5.000,233,0.0518,Mid-Summer,Late Juvenile,Recently settled spat
8719,8719,SH_20Aug12_205,SH,20-Aug-12,29-Jan-16,4,0.0518,0.0,98.0,1.2,H,AB,7.840,233,0.0518,Mid-Summer,Late Juvenile,Recently settled spat

2) Run the following cell.

In [38]:
import seaborn as sns
sns.__version__

'0.9.0'

#### Submitting

In the Terminal (Mac) or Git Bash (Windows):

`git commit -a -m 'Assignment 7 completed'`  
`git push`

### Reading

1. [_Python for Data Analysis_](https://uri-primo.hosted.exlibrisgroup.com/permalink/f/10nopmq/01URI_ALMA51209454630002396):
    * Chapter 9